{% extends "pages/Base.html" %}

{% block tieude %}
Liên hệ
{% endblock %}

{% block noidung %}
<!--<table>-->
    <p><b>Liên hệ</b></p>
    <p>Trang web được xây dựng bởi Phạm Thị Minh Thương, giảng viên khoa CNTT trường ĐH Phạm Văn Đồng, Quảng Ngãi. Cảm ơn bạn đã ghé thăm và quan tâm đến trang web!!!</p>
    <p>Nếu bạn muốn liên hệ với tôi thì hãy điền đầy đủ thông tin bên dưới. </p>
    <form method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td><label>Tên của bạn</label></td>
                <td>{{form.TenBanLH}}<label style="color: red;">  *   </label></td>
            </tr>
            <tr>
                <td><label>Email của bạn</label></td>
                <td>{{form.EmailBanLH}}<label style="color: red;">  *   </label></td>
            </tr>
            <tr>
                <td><label>Tiêu đề</label></td>
                <td>{{form.TieuDeLH}}<label style="color: red;">  *   </label></td>
            </tr>
            <tr>
                <td><label>Thông điệp</label></td>
                <td>{{form.ThongDiepLH}}<label style="color: red;">  *   </label></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Gởi liên hệ"/>
                    <input type="hidden" name="next" value="/"/>
                </td>
            </tr>
        </table>
    </form>
<!--/table>-->

{% endblock %}