{% extends "pages/Base.html" %}

{% block tieude %}
Môn học
{% endblock %}

{% block noidung %}
<h2><center>{{mh.TenMon}}</center></h2>
<p>Môn học được giảng dạy cho bậc Đại học chuyên ngành Công nghệ thông tin vào học kỳ: {{mh.HocKy}} của năm: {{mh.Nam}}</p>
<!--<a href="GioiThieuMH.html">Nhan vao</a>-->
{% if mh.GioiThieu.name == "No file" %}
    <p>Hiện tại chưa có phần giới thiệu cho môn học này</p>
{% else %}
    <p>Để hiểu rõ hơn về nội dung và cách học trong môn này, mời bạn <a href="GioiThieuMH.html">Nhấn vào</a></p>
{% endif %}


<div>
    
    <center><h4>Danh sách các bài học:</h4>
    <table>{% for i in bhs %}
        <tr>
            <td style="width: fit-content">{{i.TenBai}}</td>
            <td style="width: 150px"><a href="Bai_{{i.id}}">Xem bài học</a></td>
        </tr>{% endfor %}
    </table></center>

    
</div>
{% endblock %}